# stop looking at parent directories
config.stopBubbling = true

# experimental features are NOT allowed
lombok.experimental.flagUsage = error

# add @lombok.Generated annotations to all generated nodes where possible; useful for JaCoCo (which has built in support)
lombok.addLombokGeneratedAnnotation = true

# call super's #equals or #hashCode 
lombok.equalsAndHashCode.callSuper = call

# It will create @Builder annotation which will create all setter methods which returns 'this' so we can chain setter methods
lombok.accessors.chain = true

# allow slf4j logger only, org.slf4j.LoggerFactory.getLogger
lombok.log.apacheCommons.flagUsage = error
lombok.log.javaUtilLogging.flagUsage = error
lombok.log.jbosslog.flagUsage = error
lombok.log.log4j.flagUsage = error
lombok.log.log4j2.flagUsage = error
lombok.log.xslf4j.flagUsage = error